.App {
  text-align: center;
}


.chatbot-container {
  margin-top: 30%;
  position: fixed;
  width: 300px;
  height: 400px;
  background: white;
  opacity: 90%;
  border: 1.8px solid rgb(10, 25, 8);
  border-radius: 10px 0 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  
}
/* hr{
  color:black;
} */

.chatbot-messages {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}
.oval {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}


.chatbot-message {
  display: inline-block;
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.chatbot-message.bot {
  background-color: #ffffff;
  float: left;
}


.chatbot-message.user {
  background-color: #4da6ff;
  float: right;
  color: #fff;
}

.chatbot-form {
  display: flex;
  align-items: center;
  padding: 7px;
}

.chatbot-form input {
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.chatbot-form button {
  height: 40px;
  width: 60px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: #4da6ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.chatbot-form button:hover {
  background-color: #80b3ff;
}

    .main {
      justify-content: center;
      display: flex;
    }
    

    .wrapper h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      font-family: sans-serif;
      letter-spacing: 1px;
      word-spacing: 2px;
      color: #ee9191;
      font-size: 40px;
      font-weight: 888;
      text-transform: uppercase;
    }

    .wrapper div {
      height: 60px;
      width: 60px;
      border: 2px solid rgba(255, 255, 255, 0.7);
      border-radius: 50px;
      position: absolute;
      top: 10%;
      left: 10%;
      animation: 4s linear infinite;
    }

    div .dot {
      height: 10px;
      width: 10px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 20%;
      right: 20%;
    }

    .wrapper div:nth-child(1) {
      top: 20%;
      left: 20%;
      animation: animate 8s linear infinite;
    }

    .wrapper div:nth-child(2) {
      top: 60%;
      left: 80%;
      animation: animate 10s linear infinite;
    }

    .wrapper div:nth-child(3) {
      top: 40%;
      left: 40%;
      animation: animate 3s linear infinite;
    }

    .wrapper div:nth-child(4) {
      top: 66%;
      left: 30%;
      animation: animate 7s linear infinite;
    }

    .wrapper div:nth-child(5) {
      top: 90%;
      left: 10%;
      animation: animate 9s linear infinite;
    }

    .wrapper div:nth-child(6) {
      top: 30%;
      left: 60%;
      animation: animate 5s linear infinite;
    }

    .wrapper div:nth-child(7) {
      top: 70%;
      left: 20%;
      animation: animate 8s linear infinite;
    }

    .wrapper div:nth-child(8) {
      top: 75%;
      left: 60%;
      animation: animate 10s linear infinite;
    }

    .wrapper div:nth-child(9) {
      top: 50%;
      left: 50%;
      animation: animate 6s linear infinite;
    }

    .wrapper div:nth-child(10) {
      top: 45%;
      left: 20%;
      animation: animate 10s linear infinite;
    }

    .wrapper div:nth-child(11) {
      top: 10%;
      left: 90%;
      animation: animate 9s linear infinite;
    }

    .wrapper div:nth-child(12) {
      top: 20%;
      left: 70%;
      animation: animate 7s linear infinite;
    }

    .wrapper div:nth-child(13) {
      top: 20%;
      left: 20%;
      animation: animate 8s linear infinite;
    }

    .wrapper div:nth-child(14) {
      top: 60%;
      left: 5%;
      animation: animate 6s linear infinite;
    }

    .wrapper div:nth-child(15) {
      top: 90%;
      left: 80%;
      animation: animate 9s linear infinite;
    }

    @keyframes animate {
      0% {
        transform: scale(0) translateY(0) rotate(70deg);
      }

      100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
      }
    }
h3{
  background-color: white;
  padding-left: 1px;
}

.my-image {
  width: 60%; 
  height: auto; }

body {
  padding-left: 6%;
  text-align: center;
 background: rgb(247,108,84);
background: linear-gradient(90deg, rgba(247,108,84,0.9024859943977591) 6%, rgba(213,172,49,0.9164915966386554) 20%, rgba(203,198,47,0.9417016806722689) 31%, rgba(208,183,48,0.891281512605042) 66%, rgba(233,115,52,1) 91%, rgba(247,108,84,1) 100%);
  
}


.hello{
    background-color: rgb(153, 245, 208);
    border: 0.000000000000000000002px solid rgb(120, 237, 104);
    /* border-radius: 3px; */
    
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
